@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@500&family=Mulish:ital,wght@0,300;0,400;0,700;0,800;1,800&family=Nunito+Sans:wght@200;300;400;600;800&family=Nunito:wght@200;400;500;600;900&family=Varela+Round&display=swap');
:root {
    box-sizing: border-box;
    --blue-color: #5cB4ec;
    --pink-color: #7ef46c;
    --paragraph-color: #707070;
}

body {
    font-family: 'Mulish', sans-serif;
    background: #f9fbff;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--blue-color), var(--pink-color));
}

*,
::before,
::after {
    box-sizing: inherit;
}

h1 {
    font-size: 2.8rem;
    font-weight: 900;
    letter-spacing: 3px;
}

h2 {
    font-size: 1.7rem;
    font-weight: 700;
}

p {
    font-weight: 400;
    font-size: 1rem;
    color: var(--paragraph-color);
}

.mt-100 {
    margin-top: 100px;
}

.mt-70 {
    margin-top: 70px;
}

.pt-250 {
    padding-top: 175px;
}

.pt-200 {
    padding-top: 160px;
}


/* navigation section */

.clr {
    color: white;
    opacity: 0.7;
}

.clr:hover {
    opacity: 1;
}

.lgbtn {
    border: 2px solid white;
    border-radius: 30px;
}

.lst span {
    color: white;
}

.lst:hover {
    background-color: #25D366;
    border: 2px solid white;
}

.last:hover {
    background-color: #25D366;
    color: white;
    border-color: #25D366;
}

@media only screen and (max-width:1000px) {
    .bg-clr {
        background-color: white;
        text-align: center;
    }
    .clr {
        color: black;
    }
    .lgbtn {
        border: 2px solid black;
        border-radius: 30px;
    }
    .head1 {
        text-align: center;
    }
    .back {
        font-size: 13pt;
    }
    .pt-250 {
        padding-top: 20px;
    }
    .bg {
        background: transparent;
        margin-top: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 10px;
    }
}


/* main section */

.hero {
    height: 90vh;
    width: 100%;
    background-image: linear-gradient(13deg, rgba(92, 132, 236, 0.7), rgba(36, 90, 228, 0.7)), url(../assets/img/main2.jpg);
    background-size: cover;
    background-position: center;
}

.hero-content {
    color: #fff;
}

.fnt {
    font-family: 'Anek Tamil';
    font-size: 40pt;
}

.chnbtn {
    border: 2px solid white;
    border-radius: 30px;
    text-decoration: none;
}

.chnbtn:hover {
    background-color: white;
    color: black;
}

#particles-js {
    height: 100vh;
    width: 50%;
    background: rgba(1, 255, 52, 0.0);
    position: absolute;
}

.back {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(92, 132, 236, 0.7);
    text-align: center;
    border-radius: 5px;
    font-size: 20pt;
    font-weight: bold;
}


/* login */

.login {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.left {
    padding-left: 120px;
    padding-right: 120px;
    font-family: 'Nunito', sans-serif;
}

.aa {
    color: rgb(38, 38, 133);
    text-decoration: none;
    text-align: end;
}

.aa:hover {
    text-decoration: underline;
}

.cent {
    font-size: 26pt;
    font-weight: 400;
    letter-spacing: 0px;
}

@media only screen and (max-width:500px) {
    .left {
        padding-left: 10px;
        padding-right: 10px;
        font-family: 'Nunito', sans-serif;
    }
    .back {
        font-size: 13pt;
    }
    .pt-200 {
        padding-top: 100px;
    }
    .pt-250 {
        padding-top: 0px;
    }
    .bg {
        background: transparent;
        margin-top: 0px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 10px;
    }
    .head1 {
        text-align: center;
        font-size: 12pt;
    }
    .fnt {
        font-size: 20pt;
    }
}


/* scroll nav bar */

nav.stickyadd .active {
    border-bottom: 1.5px solid black;
}

nav.stickyadd {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 5px 5px 25px rgba(169, 168, 168, 0.9);
    transition: all 0.5s;
}

nav.stickyadd .nav-item .nav-link {
    color: black;
}

nav.stickyadd .navbar-brand {
    color: black;
}

nav.stick {
    transition: all 0.5s;
}

nav.span {
    color: black;
}


/* error */

.error {
    color: rgb(212, 61, 61);
}