.divTime1 {
    margin-top: -70px;
    /* padding-left: 160px;
    padding-right: 160px; */
}

.divTime {
    background: linear-gradient(13deg, rgb(255, 255, 255), rgb(255, 255, 255));
    ;
    border-radius: 10px;
    border-bottom: 10px solid #4267B2;
}

.time h1 {
    font-size: 14pt;
    letter-spacing: 0px;
}

.w-180 {
    width: 180%;
}

.time p {
    text-align: justify;
}

.date {
    background: #4267B2;
    margin-top: -16px;
    margin-left: -3.7px;
    border: 1px;
    border-top-left-radius: 10px;
    color: white;
    border-bottom-right-radius: 10px;
}

.btnTime {
    background-color: #f0f0f0;
    border-radius: 0px;
    font-weight: 600;
}

.timebtn:hover {
    background-color: #25D366;
    color: white;
}

@media only screen and (max-width:1000px) {
    .divTime1 {
        padding-top: 80px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .w-180 {
        width: 100%;
    }
    .date {
        background: #4267B2;
        margin-top: 0;
        margin-left: 0;
        border: 1px;
        border-top-left-radius: 0px;
        color: white;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .pd-back {
        margin-top: -100px;
    }
}


/* about */

.team-class {
    z-index: 3;
    padding: 100px;
}

.team-class img {
    z-index: 2;
}

.team-class .bg-white {
    background-color: white;
}

.team-content {
    padding: 15px;
}

.team-class .box {
    position: relative;
    z-index: 1;
}

.team-class .box::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: -1;
    background: linear-gradient(135deg, #4267B2, rgba(45, 245, 0, 0.8));
}

.who {
    color: black;
}

.about {
    text-decoration: none;
    border: 2px solid #4267B2;
    border-radius: 30px;
    color: #4267B2;
    width: 20%;
    font-weight: bold;
}

.about-btn {
    visibility: visible;
}

@media only screen and (max-width:1000px) {
    .btn-dct {
        padding-right: 0px;
    }
    .about {
        text-decoration: none;
        border: 2px solid #4267B2;
        border-radius: 30px;
        color: #4267B2;
        width: 22%;
        font-weight: bold;
    }
    .who {
        color: black;
        font-size: 20pt;
        margin-top: 30px;
    }
    .about-btn {
        visibility: hidden;
    }
    .team-class {
        z-index: 3;
        padding-bottom: 0px;
    }
    .team-content {
        padding: 0px;
    }
}

.about:hover {
    color: white;
    background-color: #25D366;
    border-color: #25D366;
}


/* why we are */

.service-show {
    text-align: center;
}

.service-class .card {
    padding: 0px;
    margin-bottom: 30px;
}

.service-class i {
    font-size: 35px;
    background: white;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 5px 0 0px 0px;
}

.bdr {
    background: linear-gradient(13deg, rgba(92, 132, 236, 0.7), rgba(36, 90, 228, 0.7));
}

.bdr:hover {
    background: #25D366;
}

.bdrp {
    color: white;
    font-weight: 500;
    font-size: 15.5pt;
}

.bdr p {
    color: white;
}

.lrn {
    text-decoration: none;
    color: #4267B2;
    width: 20%;
    font-weight: bold;
}

.lrn:hover {
    border: 2px solid #4267B2;
    border-radius: 30px;
    background-color: #25D366;
    border-color: #25D366;
    ;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.srv-link {
    text-decoration: none;
}

.srv-link h5 {
    color: white;
}

.undr {
    font-weight: 400;
    border-bottom: 3px solid #4267B2;
}


/* count */

.count {
    background-image: linear-gradient(13deg, rgba(92, 132, 236, 0.7), rgba(36, 90, 228, 0.7)), url(../assets/img/img3.jpg);
    background-size: cover;
    object-position: bottom;
    background-attachment: fixed;
}

.count i {
    font-size: 100px;
    color: white;
    border: 1px solid #d5d5d5;
    padding: 25px;
    border-bottom-width: 7px;
    height: 160px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    width: 160px;
}

.count i:hover {
    position: relative;
    animation: mymove 1s backwards;
    animation-timing-function: ease-in;
}

@keyframes mymove {
    from {
        top: 20px;
    }
    to {
        top: 0px;
    }
}

.count p {
    color: white;
    font-size: 25pt;
    font-weight: 900;
}

.count h5 {
    color: white;
    font-size: 16pt;
    font-weight: bold;
}

.c-content {
    text-align: center;
}


/* meet */

.sphead h1 {
    font-size: 25pt;
}

.btn-find {
    font-weight: bold;
    color: white;
    background-color: rgba(92, 132, 236, 0.7);
}

.btn-find:hover {
    background-color: #25D366;
    color: white;
}

.c-shadow:hover {
    transition: transform 5s;
    -ms-transform: scale(1);
    -webkit-transform: scale(0.5);
    transform: scale(1.06);
}


/* low cost */

.cost {
    background-image: linear-gradient(13deg, rgba(254, 254, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../assets/img/img5.jpg);
    background-size: cover;
    object-position: bottom;
    background-attachment: fixed;
}

.cost h1 {
    font-size: 26pt;
}

.cost p {
    font-size: 14pt;
    text-align: justify;
}


/* director msg */

.dir {
    background-color: white;
    padding-right: 120px;
    text-align: justify;
    background: linear-gradient(13deg, rgba(33, 66, 198, 0), rgba(36, 90, 228, 0.7));
    background-attachment: fixed;
}

.dir1 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.cm {
    font-size: 80pt;
    color: #4267B2;
}

.dir1 p {
    font-size: 14pt;
    font-weight: 600;
}

.dir1 .d-name {
    visibility: hidden;
}

.d-area:hover .d-name {
    visibility: visible;
}


/* reviews */

.r-headh1 {
    color: #4267B2;
    border-bottom: 3px solid #4267B2;
}

.r-head h1 {
    font-size: 25pt;
    letter-spacing: 1px;
}

.r-head p:first-child {
    color: rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

.r-name {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.r-review {
    padding-left: 50px;
    padding-right: 50px;
}

.r-icon {
    background-color: #4267B2;
    color: white;
}

.r-icon:hover {
    background-color: #25D366;
}

.emj {
    font-size: 20pt;
    color: #000000;
    opacity: 0.4;
}

.pdng {
    padding-left: 200px;
    padding-right: 200px;
}

@media only screen and (max-width:1000px) {
    .pdng {
        padding-left: 0px;
        padding-right: 0px;
    }
}


/* events */

.e-div {
    background-color: white;
    padding-top: 40px;
}

.e-head h1 {
    font-size: 25pt;
    letter-spacing: 1px;
    font-weight: 600;
}

.hl {
    width: 450px;
    height: 5px;
    border: 1px solid #d6f9e2;
    background-color: #d6f9e2;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin: 2px;
    display: inline-block
}

.hl2 {
    width: 450px;
    height: 5px;
    border: 1px solid #d6f9e2;
    ;
    background-color: #d6f9e2;
    ;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin: 2px;
    display: inline-block
}

.main-row {
    margin-top: 10%;
}

.e-div .card {
    cursor: pointer;
    background: linear-gradient(13deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
}

.e-div .card img {
    transform: translateY(-50px);
    border-radius: 15px;
    z-index: 1;
}

.e-div .card .card-body {
    visibility: hidden;
    transform: translateY(-100px);
    height: 0;
}

.e-div .card:hover .card-body {
    visibility: visible;
    transform: translateY(-10);
    transition: .5s;
    height: auto;
    background-color: white;
}

.e-div .card:hover {
    background: linear-gradient(13deg, rgba(25, 248, 110, 0.9), rgba(25, 248, 110, 0.9));
}

.e-div .card:hover .title {
    visibility: hidden;
}

.e-div .btn-read:hover {
    background-color: #25D366;
    border-color: #25D366;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


/* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  } */

.sld:hover .bg-slide {
    background-color: rgba(25, 248, 110, 0.8);
    border-radius: 5px;
}

.flip:hover .e-hide {
    visibility: visible;
    transform: translateY(-10);
    transition: .5s;
    height: auto;
    background-color: transparent;
}

.flip img {
    border: 1px solid #4267B2;
    border-radius: 5px;
}

.flip:hover .e-container .content {
    background: linear-gradient(13deg, rgba(25, 248, 110, 0.9), rgba(25, 248, 110, 0.9));
    color: #000000;
}

.flip:hover .tp {
    color: #707070;
}

.tp {
    color: white;
}

.flip:hover img {
    border: 1px solid rgba(25, 248, 110, 0.9);
}

.flip .e-hide {
    visibility: hidden;
    transform: translateY(-0px);
    height: 0;
}


/* .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #4267B2;
    color: black;
  }
  
  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
  } */

.e-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.e-container img {
    vertical-align: middle;
}

.e-container .content {
    position: absolute;
    bottom: 0;
    background: linear-gradient(13deg, rgba(92, 132, 236, 0.7), rgba(36, 90, 228, 0.7));
    background: linear-gradient(13deg, rgba(92, 132, 236, 0.7), rgba(36, 90, 228, 0.7));
    color: #f1f1f1;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 0;
}


/* footer */


/* .bg-blue{
      background-color: #d6d6d6;
  }
*/

.btn-blue {
    border: 1px solid black;
    color: #000000;
}

.btn-blue:hover {
    border: 1px solid #087048;
    background-color: #087048;
    color: white;
}

.jst {
    text-align: justify;
}

.jst a {
    text-decoration: none;
}

.jst .lnk {
    opacity: 0.8;
}

.jst .lnk:hover {
    opacity: 1;
}

.zoom:hover {
    -ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
    transition-duration: 5s;
}


/* form */

.valid {
    color: #000000;
    opacity: 0.5;
    font-size: 10pt;
    margin: 0px;
}

.modal-center {
    top: 50% !important;
    transform: translateY(-55%) !important;
}

.dctsign {
    border: 1px solid rgb(27, 27, 27);
    color: white;
    background-color: rgb(27, 27, 27);
    opacity: 0.4;
}

.btn-sub {
    border: 1px solid #25D366;
    color: white;
    background-color: #25D366;
}

.btn-sub:hover {
    border: 1px solid #23c05c;
    color: white;
    background-color: #23c05c;
}

.dctsign:hover {
    color: white;
    opacity: 1;
}

.btn-dct {
    padding-right: 0px;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


/*chat*/

.chat-btn {
    position: fixed;
    right: 14px;
    bottom: 30px;
    cursor: pointer
}

.chat-btn .close {
    display: none
}

.chat-btn i {
    transition: all 0.9s ease
}

#check:checked~.chat-btn i {
    display: block;
    pointer-events: auto;
    transform: rotate(180deg);
}

#check:checked~.chat-btn .comment {
    display: none
}

.chat-btn i {
    font-size: 22px;
    color: #fff !important
}

.chat-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #4267B2;
    color: #fff;
    font-size: 22px;
    border: none;
    opacity: 0.7;
}

.chat-btn:hover {
    opacity: 1;
}

.wrapper {
    position: fixed;
    right: 20px;
    bottom: 100px;
    width: 300px;
    background-color: #fff;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.4s
}

#check:checked~.wrapper {
    opacity: 1
}

.header {
    padding: 13px;
    background-color: #4267B2;
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
    color: #fff
}

.chat-form {
    padding: 15px
}

.chat-form input,
textarea,
button {
    margin-bottom: 10px
}

.chat-form textarea {
    resize: none
}

.form-control:focus,
.btnn:focus {
    box-shadow: none
}

.btnn,
.btnn:focus,
.btnn:hover {
    background-color: #4267B2;
    border: #4267B2;
}

#check {
    display: none !important
}